{% extends "base.html" %}

{% block title %}

Home | PivotForge

{% endblock %}

{% block content %}

<div class="hero">

<h1 class="display-3 fw-bold">

PivotForge

</h1>

<p class="lead">

Attack Path Intelligence Platform

</p>

<p>

Visualizing the Path Before the Breach

</p>

<a
href="/dashboard"
class="btn btn-danger btn-lg mt-3">

Launch Dashboard

</a>

</div>

<div class="row mt-5">

<div class="col-md-4 mb-4">

<div class="feature-card p-4">

<h3>

🖥 Asset Management

</h3>

<hr>

<p>

Manage enterprise assets.

</p>

</div>

</div>

<div class="col-md-4 mb-4">

<div class="feature-card p-4">

<h3>

🛡 Vulnerability Management

</h3>

<hr>

<p>

Manage CVEs.

</p>

</div>

</div>

<div class="col-md-4 mb-4">

<div class="feature-card p-4">

<h3>

🕸 Attack Path Analysis

</h3>

<hr>

<p>

Coming Soon

</p>

</div>

</div>

</div>

{% endblock %}